html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
}

@media (max-height:850px) {
    html {
        font-size: 15px;
    }
}

.main-container {
    width: 100vw;
}

.start-container {
    background-color: #00353BFF;
    height: 100vh;
}

.main-content {
    width: 89%;
    margin-left: 5.5%;
    margin-right: 5.5%;
    height: 100%;
}

.navbar {
    height: 72px;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: fixed;
    background-color: #00353BFF;
    z-index: 10;
}

.menu_ul {
    width: 383px;
    height: 100%;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
}

.menu_li:hover {
    text-decoration: underline;
}

.menu_li {
    display: inline-flex;
    color: #fff;
    cursor: pointer;
}

.navbar_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    position: relative;
    padding-left: calc(50% - 458px - 80px);
    height: 100%;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding-right: 5.5%
}

.right-menu {
    padding-left: 8px;
}

.cart-container,
.search-container {
    display: flex;
    align-items: center;
}

.sign-up {
    color: #00353BFF;
    background-color: #fff;
    border-radius: 8px;
    height: 50px;
    border: 0px;
    width: 106px;
    cursor: pointer;
}

.a {
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
}

.main-frame {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 76px);
}

.main-content_content {
    display: flex;
    justify-content: space-between;
    height: 83%;
    width: 100%;
    padding-top: 120px;
}

.text-content {
    margin-top: 10%;
    width: 47%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
}

.tittle-h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 67px;
    color: white;
    padding-bottom: 22px;
    margin: 0px;
}

.base-text {
    color: white;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.1em;
    line-height: 27px;
    margin: 0px;
}

.buttons {
    padding-top: 39px;
    display: flex;
}

.green-button {
    color: white;
    font-family: 'DM Sans';
    font-size: 1rem;
    background-color: #22A45A;
    border: none;
    height: 50px;
    width: 172px;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
}

.watch {
    display: flex;
    align-items: center;
}

.w-video {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 24px;
    margin-right: 4px;
    cursor: pointer;
}

.small-av {
    border: #fff solid 2px;
}

.reviews {
    padding-top: 48px;
    width: 304px;
    display: flex;
    justify-content: space-between;
}

.images {
    width: 159px;
    display: flex;
    justify-content: space-between;
}

.small-av {
    position: absolute;
}

.small-av:nth-of-type(2) {
    margin-left: 54px;
}

.small-av:nth-of-type(3) {
    margin-left: 113px;
}

.small-av:nth-of-type(4) {
    margin-left: 25px;
}

.small-av:nth-of-type(5) {
    margin-left: 79px;
}

.reviews-right {
    height: 48px;
}

.reviews-p {
    margin: 0;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}

.main-vector {
    position: absolute;
    margin-left: -103px;
    margin-top: 315px;
}

.main-images {
    width: 47%;
}

.main-image-startscreen {
    width: 100%;
    height: auto;
    box-sizing: cover;
}

@media (max-width:1300px) {
    .main-vector {
        margin-top: 215px;
    }
}

/* ------------------------------------------------------------------------------ */

.sentence-container {
    width: 100%;
    height: 191px;
    background-color: #00353BFF;
    display: flex;
    justify-content: center;
}

.sentense {
    margin: 0px;
    padding: 0px;
}

.platform-container {
    background: linear-gradient(to bottom, #00353BFF 50%, white 50%);
    height: 425px;
    width: 100%;
}

.platform-container-content {
    background: #FCD8CA;
    border: 0px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform-text-content {
    width: 768px;
    height: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lable {
    padding: 4px 8px 4px 8px;
    background-color: #FCD8CA;
    font-family: DM Sans;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 21px;
    margin: 0px;
    border-radius: 5px;
    margin-bottom: 11px;
}

.feedback_tittle {
    padding-bottom: 29px;
}

.base-title {
    padding-bottom: 29px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 3rem;
    line-height: 58px;
    color: #1F2937;
    margin: 0px;
}

@media (max-height:820px) {
    .base-title {
        line-height: 50px;
    }
}

.platform-paragraph {
    text-align: center;
    color: #374151;
}

.about-second-b {
    margin-top: 39px;
    font-family: 'DM Sans';
    font-size: 1rem;
    line-height: 24px;
    width: 117px;
    height: 50px;
    border-radius: 8px;
    color: white;
    border: 1px solid #1F2937;
    background: #1F2937;
    cursor: pointer;
}

/* ----------------------------------- a b o u t  c o u r s e s -------------------------------------- */

.about-courses {
    height: 91vh;
    width: 100vw;
    background-color: #ffff;
}

.content-position {
    display: flex;
    align-items: center;
}

.content-content-position {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82%;
    width: 100%;
}

.main-image {
    max-height: 100%;
    width: auto;
    display: block;
}

.text-content-about {
    width: 47%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
}


.paragraph {
    text-align: left;
    color: #4B5563;
}

.black-button {
    width: 135px;
    font-family: 'DM Sans';
    font-size: 1rem;
    line-height: 24px;
    width: 117px;
    height: 50px;
    border-radius: 8px;
    color: white;
    border: 1px solid #1F2937;
    background: #1F2937;
    cursor: pointer;
}

.arrow-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.arrow-button {
    color: #111827;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 12px;
    cursor: pointer;
}

@media (max-width:1230px) {
    .padding-l {
        padding-left: 20px;
    }

    .padding-r {
        padding-right: 20px;
    }

    .paragraph {
        text-align: justify;
    }

    .base-title-ab {
        text-align: center;
    }
}

/* ------------------------------------------ p o p u l a r  c o u r s e s -------------------------- */

.popular-courses-container {
    height: 100vh;
    width: 100vw;
}

.main-content-pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84.5%;
}

@media (max-height:820px) {
    .main-content-pop {
        height: 90%;
    }
}

.pop-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding-bottom: 10px;
}

.pop-top_content {
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

@media (max-width:1270px) {
    .pop-top_content {
        width: 60%;
    }

    html {
        font-size: 14px;
    }
}

.paragraph-pop {
    text-align: center;
    color: #4B5563;
}

.pop-bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
    height: 500px;
    width: 100%;
}

.course {
    background-color: #00353B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white-button {
    width: 77px;
    height: 29px;
    font-family: 'DM Sans';
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #ffff;
}

.card-header {
    margin-top: 32px;
    margin-left: 26px;
}

.title-card {
    color: #ffff;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.prise {
    color: #ffff;
    font-family: 'DM Sans';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.card-bottom {
    height: 270px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.green-button-card {
    width: 142px;
    height: 42px;
    background-color: #22A45A;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #ffff;
    border: 1px solid #22A45A;
    border-radius: 5px;
    margin-left: 26px;
    margin-bottom: 32px;
    margin-top: 48.5%;
    cursor: pointer;
}

.card-img {
    margin-right: 0px;
    margin-bottom: 0px;
}


@media (max-width:1380px) {
    .card-bottom {
        display: flex;
        justify-content: flex-end;
    }

    .green-button-card {
        position: absolute;
        margin-top: 196px;
        margin-right: 15%;
        width: 132px;
    }
}

@media (max-width:1050px) {
    .green-button-card {
        width: 120px;
    }
}

/* -------------------------------- c o m m u n i t y ----------------------------- */

.community-container {
    height: 116vh;
    width: 100vw;
}

.community-container_top {
    width: 100%;
    height: 53%;
    display: flex;
}

.community-container-top_content {
    height: 100%;
    width: 50%;
    background-color: #FCD8CA;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
}

.text-content-community {
    margin: 64px;
    flex-grow: 1;
}

.b-join-us {
    width: 63px;
    height: 29px;
    background-color: #ffff;
    border: 1px solid #fff;
    font-family: 'DM Sans';
    font-size: 0.88rem;
    border-radius: 4px;
}

.base-title-community {
    padding-bottom: 28px;
    padding-top: 11px;
}

.community-image {
    width: 50%;
    height: 100%;
}

@media (max-height:800px) {
    .base-title-community {
        font-size: 2.5rem;
        margin-bottom: 0px;
    }

    .community-container-top_content {
        width: 60%;
    }

    .base-title {
        line-height: 50px;
    }

    .text-content-community {
        width: 100%;
    }
}

.community-container_bottom-grid {
    height: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 47px;
    margin-top: 79px;
}

.grid-grren-part {
    height: 100%;
}

.grid-green-part_tittle {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.g-g-part_base-text {
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0px;
}

/* --------------------------------------------- b e n e f i t s ------------------------------ */

.benefits {
    height: 133.5vh;
    width: 100%;
}

.ben-top {
    width: 100%;
    height: 237px;
    display: flex;
    justify-content: center;
}

.ben-top_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 60%;
}

.paragraph-ben {
    text-align: center;
    color: #4B5563;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 27px;
    margin: 0px;
}

.benefits_grid-container {
    padding-top: 79px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 26% 39% 26%;
    gap: 50px;
}

.grid-grren-part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid-green-part {
    background-image: url("./images/IMAGE_grow_your_knowledge.png");
    background-size: cover;
    background-position: center;
}

.button-com {
    height: 12.4%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

@media (max-height:790px) {
    .button-com {
        height: calc(12.4%/2);
    }

    .benefits_grid-container {
        padding-top: 40px;
    }
}

/* ---------------------- f e e d  b a c k ----------------- */

.feedback {
    height: 88.5vh;
    width: 100vw;
    background: linear-gradient(to bottom, white 50%, #00353BFF 50%);
}

.pink-container {
    height: 100%;
    width: 100%;
    background-color: #FCD8CA;
    border: 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feed-top {
    margin-top: 96px;
}

.lable-white {
    background-color: #fff;
}

.turnabout {
    height: 42%;
    width: 100%;
    margin-bottom: 96px;
    display: flex;
    overflow: auto;
}

.turnabout::-webkit-scrollbar {
    width: 0;
    /* Приховуємо повзунок */
}

.feedback_card {
    background-color: #fff;
    border-radius: 15px;
    height: 100%;
    min-width: 428px;
    margin-right: 35px;
}

.feedback_card.hovered {
    background-color: #d6e1f5;
}

.feedback-card_content {
    margin: 32px;
}

.feedback-stars {
    margin-bottom: 32px;
}

.account {
    display: flex;
    margin-top: 32px;
}

.account-image {
    margin-right: 16px;
    margin-top: 12px;
}

.account-lable {
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #111827;
    height: 72px;
    margin: 0px;
}

@media (max-height:750px) {

    .feedback-card_content {
        margin: 16px;
    }

    .account-lable br {
        display: none;
    }

    .account-lable {
        display: flex;
        align-items: center;
    }

    .account {
        margin-top: 16px;
    }

    .feedback-stars {
        margin-bottom: 16px;
    }

}

.account-company {
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6B7280;
}

/* ----------------------------- b l o g --------------------- */

.blog {
    min-height: 104vh;
    width: 100vw;
    background-color: #00353B;
    display: flex;
    align-items: flex-end;
}

.main-content-blog {
    height: 86%;
}

.blog-top {
    width: 100%;
    height: 102px;
}

@media (max-height:750px) {
    .blog-top {
        margin-top: 30px;
    }
}

.lable-blog {
    width: 45px;
    text-align: center;
    margin: 0px;
}

.flex-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.base-title-blog {
    color: #fff;
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 400;
    margin: 0px;
}

.white-button-blog {
    width: 107px;
    height: 50px;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #1F2937;
    border-radius: 8px;
    border: #fff solid 1px;
    background-color: #fff;
    cursor: pointer;
}

.blog-bottom-grid {
    margin-top: 79px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    width: 99%;
    height: 77%;
}

.blog-bottom-part {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.blog-img {
    margin: 0px;
    padding: 0px;
    height: 50%;
}

.content-of-part {
    background-color: #fff;
    padding: 24px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lable-green {
    background-color: #AADEA8FF;
    color: #111827;
    font-family: 'DM Sans';
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 21px;
    border-radius: 5px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
}

.lable-green p {
    margin: 0px;
}

.lable-green-1 {
    width: 83px;
}

.lable-green-2 {
    width: 104px;
}

.lable-green-3 {
    width: 76px;
}

.tittle-card-blog {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.base-text-blog {
    font-family: DM Sans;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4B5563;
    margin: 0px;
}

.arrow-links_blog {
    height: 40px;
    cursor: pointer;
}

.blog-img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* -------------------------------- s t a r t  l e a r n i n g ------------------------ */

.start-learn {
    height: 433px;
    width: 100vw;
    background-color: #00353B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-learn_main-content {
    height: 52%;
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.green-button-learn {
    color: white;
    font-family: 'DM Sans';
    font-size: 1rem;
    background-color: #22A45A;
    border: none;
    height: 50px;
    width: 135px;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
}

.buttons-learn {
    padding-top: 17px;
}

.white-button-learn {
    color: #1F2937;
    font-family: 'DM Sans';
    font-size: 1rem;
    background-color: #ffff;
    border: none;
    height: 50px;
    width: 135px;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
}

/* ---------------------------------- f o o t e r ------------------- */

.footer {
    background-color: #00353B;
    height: 72vh;
    width: 100vw;
}

.flex-footer-column-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top-content {
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-right-conteiner {
    width: 31.3%;
    height: 244px;
}

.base-tittle-footer-h4 {
    padding-top: 59px;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.input-container {
    height: 48px;
    width: 100%;
    display: flex;
}

#subscribe-input {
    height: 48px;
    width: 260px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.subscribe-lable {
    height: 48px;
    width: 124px;
    background-color: #22A45A;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
}

.text-under-input {
    color: #fff;
    font-family: 'DM Sans';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.a-under-input {
    color: #fff;
    cursor: pointer;
}

.top-left-container {
    width: 62.5%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column-tittle {
    color: #fff;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer-link {
    color: #fff;
    font-family: 'DM Sans';
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    padding-bottom: 16px;
    text-decoration: none;
    cursor: pointer;
}

.footer-column {
    margin-right: 48px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #FFFF;
    opacity: 0.5;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.footer-license {
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

@media (max-width:1380px) {
    .footer-link {
        line-height: 30px;
    }

    .footer-column-tittle {
        margin-bottom: 15px;
    }
}

@media (max-height:800px) {
    .footer-top-content {
        padding-top: 20px;
    }
}